@using Shared;
@inject IApiClient _client;


<style>
    .parent {
        display: grid;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .modal {
        position: absolute;
        float: left;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .inputInfo {
        grid-area: 1 / 1 / 2 / 2;
    }

    .displayDetails {
        grid-area: 1 / 2 / 2 / 3;
    }

    .errorDisplay {
        grid-area: 2 / 1 / 3 / 3;
    }

</style>

<div class="parent">

    <!--This can be its own partial view in the future-->
    <div class="inputInfo">
        Tag number:
        <input id="tag_number" type="text" /><br />
        <button id="button_in" value="val_1" name="but1">In</button>
        <button id="button_out" value="val_1" name="but1">Out</button><br />
        <input id="button_stats" type="button" value="Stats" />
    </div>

    <div class="displayDetails"></div>
    <div class="errorDisplay"></div>


</div>


<div id="myModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Vehicle Report</h5>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<script>

    var currentTotalSpots = '@Int32.Parse(ConfigurationManager.AppSetting["Configs:totalSpot"])';
    var baseadd = '@_client.BaseAddress';


    $("#button_in").click(function (e) {
        var tagNumber = $('#tag_number').val();

        var vehicle = {
            TagNumber: tagNumber,
            InTime: new Date(),
            OutTime: null,
            Rate: "15"
        };

        if (tagNumber != '') {
            $.ajax({
                url: baseadd + "api/vehicle/iscarregisteredinparking",
                type: 'POST',
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(vehicle),
                success: function (vehicleAlreadyPresent) {


                    if (vehicleAlreadyPresent) {
                        $(".errorDisplay").replaceWith("<div id='.alert' class='alert alert-danger col-xs-10 col-xs-offset-1'><strong>Vehicle Already Present</strong></div>");

                        setTimeout(function () {
                            $('.alert').replaceWith("<div class='errorDisplay'></div>");
                        }, 2000);
                    }

                    else {
                        $.ajax({
                            url: "/Home/ParkingInformation",
                            data: {
                                'tagNumber': tagNumber, 'actionToPerform': "IN"
                            },
                            contentType: 'application/json; charset=utf-8',
                            success: function (result) {
                                $('.displayDetails').html(result);
                            },
                            error: function (result) {
                                $(".div3").replaceWith(result);

                                setTimeout(function () {
                                    $('.alert').replaceWith("<div class='div3'></div>");
                                }, 5000);
                            }
                        });
                    }

                },
                error: function (result) {
                    alert("Something went wrong, Please contact System Admin");
                }
            });
        }
        else 
        {
            alert('Please enter a Tag number');
        }
    });

    
    
    //Refereshing the ParkingInformation window every 15 mins
    fetch('/Home/ParkingInformation?tagNumber=null&actionToPerform=REFRESH')
        .then(function (response) {
            if (!response.ok) {
                throw new Error('Fetching of the Data Failed');
            }
            return response.text();
        })
        .then(function (data) {
            $('.displayDetails').html(data);

        })
        .catch(function (error) {
            alert(error.message);
            });


    $("#button_out").click(function (e) {
        var tagNumber = $('#tag_number').val();

        if (tagNumber != '')
        {
            var vehicle = {
                TagNumber: tagNumber,
                InTime: new Date(),
                OutTime: null,
                Rate: "15"
            };

            $.ajax({
            url: baseadd + "api/vehicle/iscarregisteredinparking",
            type: 'POST',
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(vehicle),
            success: function (vehicleAlreadyPresent) 
            {

                if (vehicleAlreadyPresent) 
                {
                        $.ajax({
                            url: baseadd + "api/vehicle/out",
                            type: 'POST',
                            dataType: "json",
                            contentType: "application/json",
                            data: JSON.stringify(vehicle),
                            success: function (result) 
                            {
                                $("#myModal").find(".modal-body").html(result);
                                $('#myModal').modal('show');

                                $.ajax({
                                    url: "/Home/ParkingInformation",
                                    data: { 'tagNumber': null, 'actionToPerform': "REFRESH" },
                                    contentType: 'application/json; charset=utf-8',
                                    success: function (result)
                                    {
                                        $('.displayDetails').html(result);
                                    },
                                    error: function (result) {
                                        alert("Something went wrong during REFRESH, Please contact System Admin");
                                    }
                                });
                            },
                            error: function (result) {
                                alert("Something went wrong, Please contact System Admin");
                            }
                        });
                }

                else 
                {
                    $(".errorDisplay").replaceWith("<div id='.alert' class='alert alert-danger col-xs-10 col-xs-offset-1'><strong>No registeration found for the car</strong></div>");

                    setTimeout(function () {
                        $('.alert').replaceWith("<div class='errorDisplay'></div>");
                    }, 2000);
                }

            },
            error: function (result) {
                alert("Something went wrong, Please contact System Admin");
            }
        });
        }
        else 
        {
            alert('Please enter a Tag number');
        }
    });

   
    document.getElementById("button_stats").addEventListener("click", function (e) {
        e.preventDefault(); // Prevent the default form submission or link behavior.

        fetch('/Home/GetReport')
            .then(function (response) {
                if (!response.ok) {
                    throw new Error('Failed to fetch data');
                }
                return response.text();
            })
            .then(function (response) {
                var modalBody = document.querySelector("#myModal .modal-body");
                modalBody.innerHTML = response;
                $('#myModal').modal('show');
            })
            .catch(function (error) {
                console.error(error);
            });
    });



</script>
